<ion-view view-title="Chats">
  <ion-content>
  <div>
        <input type="text" ng-model="data.ssid" placeholder="SSID">
        <hr>
        <input type="text" ng-model="data.password" placeholder="Password">
        <!-- <button ng-click="setWifiConfig()">
          Set WIFI config to BLE device
        </button> -->

        <button ng-click="setSSIDByteListener()">
          Set WiFi config
        </button>
      <br>
      <br>
      <!--<br>-->
        <!--<button ng-click="setSSIDByteNoListener()">-->
          <!--Set SSID as byte without listener-->
        <!--</button>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
        <!--<button ng-click="setSSIDStringListener()">-->
          <!--Set SSID as string with listener-->
        <!--</button>-->
      <!--<br>-->
      <!--<br>-->
      <!--<br>-->
      <!--<button ng-click="setSSIDStringNoListener()">-->
          <!--Set SSID as string without listener 1-->
        <!--</button>-->
        <!--<br>-->
      <!--<br>-->
      <!--<br>-->
    </div>
    <div ng-repeat="service in listServices  track by $index">
        <b>SERVICE:</b><br>
        Handle: {{service.handle}}<br>
        Type: {{service.type}}<br>
        UUID: {{service.uuid}}<br>
        Characteristics Length {{service.characteristics.length}}<br>
        <div style="margin-left:20px" ng-repeat="characteristic in service.characteristics  track by $index">
            <b>CHARACTERISTIC:</b><br>
            Handle: {{characteristic.handle}}<br>
            uuid: {{characteristic.uuid}}<br>
            properties: {{characteristic.properties}}<br>
            writeType: {{characteristic.writeType}}<br>
            Descriptor Length: {{characteristic.descriptors.length}}<br>
            <div style="margin-left:40px" ng-repeat="descriptor in characteristic.descriptors  track by $index">
              <b>DESCRIPTOR:</b><br>
              Handle: {{descriptor.handle}}<br>
              uuid: {{descriptor.uuid}}<br>
            </div>
        </div>
        <hr>
    </div>
  </ion-content>
</ion-view>
