<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button ng-click="startScanButton()">
      START SCAN
    </button>

    <button ng-click="stopScanButton()">
      STOP SCAN
    </button>
    <div ng-repeat="device in devices" ng-click="connectToDevice(device)">
        <p>Address: {{device.address}}</p>
        <p>Name: {{device.name}}</p>
        <hr>
    </div>
  </ion-content>
</ion-view>
